.navbaradmin {
    background-color: #63666A;
    overflow: hidden;
  }
  
  .navbaradmin a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .navbaradmin a:hover {
    background-color: #ddd;
    color: black;
  }
  
  
